#endPaths {
	visibility:hidden;
	}
#startPaths {
	fill: #8cc63f;
}

.about-container{
  
display: flex;
padding: 1em;

gap: 1em;
}
.about-container h1{
    color: #E1E4CF;
}



.social-title h1{
    color: #353434;
}


.about-container .social-icon .icon i {
 width: 20px;

}

.about-left{
 display: flex;

 flex-direction: column;
 gap: 1em;

width: 100%;

margin: auto;


}

.skill-container{
 
    box-shadow: 10px 10px 5px -11px rgba(0,0,0,0.75);
    -webkit-box-shadow: 10px 10px 5px -11px rgba(0,0,0,0.75);
    -moz-box-shadow: 10px 10px 5px -11px rgba(0,0,0,0.75);
    position: relative;
    /* background: #353434; */
    border: 1px solid #353434;
  border-radius: 8px;
  padding: 1rem;

}

.skill-title h1{
    color: #353434;
}

.skill {
    display: flex;
    gap: 1em;
    justify-content: flex-start;

flex-wrap: wrap;
    width: 100%;
}

.skill p{

color: #353434;
}



  



.about-content {
    box-shadow: 10px 10px 5px -11px rgba(0,0,0,0.75);
    -webkit-box-shadow: 10px 10px 5px -11px rgba(0,0,0,0.75);
    -moz-box-shadow: 10px 10px 5px -11px rgba(0,0,0,0.75);
    /* background: #353434; */
padding: 2em 1em;
 border: 1px solid #353434;
  
    padding-bottom:1rem ;
    position: relative;
    border-radius: 8px;
    overflow: hidden;
  
    
}

.about-content h1 {
    color: #353434;
}

.about-content p {
    margin-bottom: 1.25em;
color: #353434;
text-align: justify;

}

.about-content .about-image{
    position: absolute;
    bottom: -145px;
    left: -50px;
    background: url(img/me3.png);
    background-size: cover;
    background-repeat: no-repeat;
    width: 400px;
    height: 400px;
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
}

.dot1{
    content: "";
    position:absolute ;
    top: 0;
    right: 0;
    width: 15px;
    height: 15px;
    background-color: #EFA00B;
    border-radius: 50%;
    margin-top: 12px;
    margin-right: 12px;
}
 .dot2{
    content: "";
    position:absolute ;
    top: 0;
    right: 25px;
    width: 15px;
    height: 15px;
    background-color: #4BA3C3;
    border-radius: 50%;
    margin-top: 12px;
    margin-right: 12px;
}
.dot3{
    content: "";
    position:absolute ;
    top: 0;
    right: 50px;
    width: 15px;
    height: 15px;
    background-color: #fa685d;
    border-radius: 50%;
    margin-top: 12px;
    margin-right: 12px;
}





.about-content p span{
    font-size: 1.5em;
text-transform: uppercase;
font-weight: 500;
color: #4BA3C3;
}
.about-content .uiux{
   color: #EFA00B;
}
.about-content .lastp
{

    width: 80%;
    font-weight: 400;
    margin-left: auto;
    font-size: 14px;
    border: 1px dashed #353434;
    padding: 1em;
    border-radius: 4px;

}

.social-icon-container {
    box-shadow: 10px 10px 5px -11px rgba(0,0,0,0.75);
-webkit-box-shadow: 10px 10px 5px -11px rgba(0,0,0,0.75);
-moz-box-shadow: 10px 10px 5px -11px rgba(0,0,0,0.75);
 position: relative;
 border: 1px solid #353434;
 border-radius: 8px;
 padding: 1em;
 

}
.social-title{
margin-bottom: 1em;
}


.skill-title{
    margin-bottom: 1em;
}
.social-icon{
    display: flex;
    flex-direction: column;
    gap: .5em;
}

@media screen and (max-width:1200px) {

    .about-container {
        flex-direction: column;
        width: 100%;
    }
 
}

@media screen and (max-width:500px) {
.about-container{
    padding: 0;
}
    .social-icon .icon p{
        font-size: .85rem;
    }

    .about-content {
        padding-bottom:3em;
    }
}

