#connect {
    padding-top: 5em;
}

#connect img {
    width: 80px;
    transition: transform 1s;
}
#connect img:hover {
    transform: scale(1.5)
 
}

#connect img:nth-child(3){
    position: absolute;
    top: 70px;
    right: 200px;
}
#connect img:nth-child(2){
    position: absolute;
    bottom: 0;
    right: 100px;
}
#connect img:nth-child(1){
    position: absolute;
    left: 50px;
    right: 0;
}

.connect-container{
display: flex;
justify-content: center;

position: relative;
padding: 3em;
border: 1px solid #353434;
gap: 1em;
border-radius: 8px;
padding-bottom: 1em;

}




.social{
    display: flex;
    justify-content: flex-start;
    gap: 1em;
}


.connect-social h1{
    font-size: 3rem;
    margin-bottom: .5em;
   
}
.icon{
    display: flex ;
    align-items: center;
  
 
 padding-bottom: 0;
 padding-left: 0;
    cursor: pointer;
}
.icon i {
    display: flex;
    justify-content: flex-start;
    font-size: 1rem;
    width: 35px;
}


.icon a {
    text-decoration: none;
    color: #353434;
}
.icon a:hover {
    color: #4BA3C3;
}

form{
    
    width: 100%;
  margin: 0 auto;
  

}


.connect-form{
    display: flex;
    flex-direction: column;
    gap:1em;



}

.btn{
 
    text-decoration: none;
    color: rgb(53, 52, 52);
   padding: 5px ;
    border: 1px dashed #B75D69;
  color: white;
background: transparent;
 
}


.btn p {
    background-color: #B75D69;
   padding: 14px  22px;
    font-size: 18px;
      
  -webkit-transition: background-color .3s ease-out;
  -moz-transition: background-color .3s ease-out;
  -o-transition: background-color .3s ease-out;
  transition: background-color .3s ease-out;
}
.btn:hover{
    border-color: #4BA3C3;
    color: #fff;

}


/* .connect-form input , textarea{
    letter-spacing: 1px;
   font-size: 18px;
    padding: 16px;
    padding-left: 20px;
    outline: none;
background: none;
border: .5px solid #353434;
border-radius: 4px;
color: #353434;
cursor: pointer;
width: 100%;
box-sizing: border-box; 
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
} */
.input{
    position: relative;
    width: 100%;
  
    height: 50px;
    cursor: pointer;
}
.connect-form input {
    width: 100%;
    height: 100%;
    background: transparent;
    border: 1px solid #353434;
    border-radius: 4px;
    outline: none;
    padding: 0 10px;
padding-top: 10px;
  color: #353434;
font-size:20px;

}
.connect-form textarea{
    width: 100%;
   
    background: transparent;
    border: 1px solid #353434;
    border-radius: 4px;
    outline: none;
    padding:  10px;
font-size: 16px;
  color: #353434;
}
.texta{
    position: relative;
}



.connect-form label{
position: absolute;
left: 0;
top: 12px;
left: 15px;
color: #353434;
text-transform: capitalize;
font-size: 18px;
transition: top .5s;
padding: 0 5px;

font-weight: lighter!important;
z-index: -1;
}
.up{
    top: -15px!important;
    background: #4BA3C3!important;
    z-index: 2!important;
    border: 1px solid #353434;
    border-radius: 4px;
    color: #EBEDD8!important;
margin-left: auto!important;

}
.connect-form .texta textarea:focus ~ label{
    top: -15px;

    z-index: 2;
color: white;
}




textarea{
    font-family: 'Poppins', sans-serif;
    color: #353434;
    font-size: 20px;
}
.submit i 
{
    padding-left: .5em;
    
}
.social-contact{
    display: flex;
    flex-direction: column;
    gap: 1em;
}


.dot-container{
position: absolute;
width: fit-content;
background: #353434;
content: "";
width: 100%;
height: 40px;
top: 0;
border-radius: 8px 8px 0 0;
border: 1px solid #353434;
left: 0;
}

.enve {
    content: url(img/enve.png);

    position: absolute;
left: auto;
right: auto;
    top: -120px;
background: #EBEDD8;
    width: 150px;
    border-radius: 30%!important;
    padding: 1em;
 
}

.connect-box {
    padding: 1em;


}


@media only screen and (max-width: 1200px) {
.connect-container{
    flex-direction: column;
    width: 100%;
padding-left: 0;
padding-right: 0;

}
    #connect img {
        display: none;
    }

}

@media only screen and (max-width: 768px) {
 

}